<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home | Auth NodeJS</title>
		<style>
			*,
			*::before,
			*::after {
				box-sizing: border-box;
			}

			body {
				font-family: sans-serif;
				background-color: aliceblue;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin: 0 auto 0 auto;
			}

			.container {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			.form-container {
				background-color: white;
				padding: 20px;
				margin: 10px;
				border-radius: 8px;
				box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
				width: 100%;
			}

			.errors {
				padding-top: 10px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			form h2 {
				margin-bottom: 20px;
				font-size: 24px;
				text-align: center;
			}

			label {
				display: block;
				margin-bottom: 5px;
				font-weight: bold;
			}

			input {
				width: 100%;
				padding: 10px;
				margin-bottom: 10px;
				border: 1px solid #ccc;
				border-radius: 4px;
			}

			button {
				width: 100%;
				padding: 10px;
				background-color: #292a73;
				color: #ffffff;
				border: none;
				border-radius: 4px;
				cursor: pointer;
				font-size: 16px;
			}

			button:hover {
				background-color: #3e4491;
			}
		</style>
	</head>

	<body>
		<div class="container">
			<% if(typeof username !=='undefined' ) { %>
			<div class="form-container">
				<h1>Hola <%= username %></h1>
				<p>Estás Panel de Administración</p>
				<button id="close-session">Cerrar sessión</button>
			</div>
			<% } %> <% if(typeof username=='undefined' ) { %>
			<div class="form-container">
				<form id="login-form">
					<h2>Login</h2>
					<label for="username">Usuario</label>
					<input type="text" id="login-username" required />

					<label for="username">Contraseña</label>
					<input type="password" id="login-password" required />

					<button type="submit">Ingresar</button>
					<div class="errors">
						<span>&nbsp;</span>
					</div>
				</form>
			</div>
			<div class="form-container">
				<form id="register-form">
					<h2>Registro</h2>
					<label for="username">Usuario</label>
					<input type="text" id="register-username" required />

					<label for="username">Contraseña</label>
					<input type="text" id="register-password" required />

					<button type="submit">Regisrar</button>
					<div class="errors">
						<span>&nbsp;</span>
					</div>
				</form>
			</div>
			<% } %>
		</div>
		<script>
			const $ = (el) => document.querySelector(el);

			const loginForm = $('#login-form');
			const loginSpan = $('#login-form span');

			const registerForm = $('#register-form');
			const registerSpan = $('#register-form span');

			const logoutButton = $('#close-session');

			loginForm?.addEventListener('submit', (e) => {
				e.preventDefault();
				const username = $('#login-username').value;
				const password = $('#login-password').value;

				fetch('/login', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({
						username,
						password,
					}),
				}).then((res) => {
					console.log(res);
					if (res.ok) {
						loginSpan.innerText = 'Sessión iniciada... Bienvenid@!';
						loginSpan.style.color = 'green';
						setTimeout(() => {
							window.location.href = '/protected';
						}, 2000);
					} else {
						console.log(res);
						loginSpan.innerText = 'Error de Inicio de Sesión';
						loginSpan.style.color = 'red';
					}
				});
			});

			registerForm?.addEventListener('submit', (e) => {
				e.preventDefault();
				const username = $('#register-username').value;
				const password = $('#register-password').value;

				fetch('/register', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({
						username,
						password,
					}),
				}).then((res) => {
					console.log(res);
					if (res.ok) {
						registerSpan.innerText = 'Registro Exitoso!';
						registerSpan.style.color = 'green';
						setTimeout(() => {
							window.location.href = '/';
						}, 2000);
					} else {
						console.log(res);
						registerSpan.innerText = 'Error de Registro';
						registerSpan.style.color = 'red';
					}
				});
			});

			logoutButton?.addEventListener('click', (e) => {
				e.preventDefault();
				fetch('/logout', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
					},
				}).then((res) => {
					console.log(res);
					window.location.href = '/';
				});
			});
		</script>
	</body>
</html>
