<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Panel de Control</title>
	</head>
	<body>
		<h1>Hola <%= username %></h1>
		<h1>Página Protegida, Ten cuidado!</h1>
	</body>
</html>
